/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light Grey */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff; /* White */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light Shadow */
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #2c5b8b; /* Darker Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3d6ea6; /* Slightly Lighter Blue */
}

.member {
    margin-top: 20px;
    text-align: center;
}

.member a {
    color: #2c5b8b; /* Darker Blue */
    text-decoration: none;
}

.member a:hover {
    text-decoration: underline;
}
