/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, button, select, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('bgImage.png'); /* Add your background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to 100% of viewport height */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light Shadow */
}

h1, h2 {
    margin-bottom: 20px;
}

.option-container {
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-section > * {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #214559; /* Deep Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c5b8b; /* Darker Blue */
}

select, input[type="text"], input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
}

#addProductForm, #displayProductForm, #updateProductForm, #deleteConfirmation {
    display: none;
}
